body {
  font-family: 'montserrat';
}

#title {
  background-color: #ff4c68;
}

.navbar-brand {
  font-family: 'Ubuntu', serif !important;
  font-weight: bold !important;
}

h1 {
  font-size: 3.5rem !important;
  line-height: 1.5 !important;
  font-family: 'montserrat-black';
  color: white;
  font-weight: 900 !important;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7% !important;
}

.navbar {
  padding-bottom: 4.5rem !important;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem !important;
  font-weight: lighter !important;
}

.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: none;
    width: 80%;
    margin-top: 20px;
  }
}

#features {
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ee8172;
}

.icon:hover {
  color: #ff4c68;
}

.feature-box h3 {
  padding-top: 30px;
}

#testimonials {
  background-color: #ee8172;
  padding: 3rem 0;
}

#testimonials h2 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  padding-bottom: 2rem;
}

#testimonials em {
  color: white;
}

.dog-photos {
  width: 200px;
}

/* Bagian Media */

#press {
  background-color: #ee8172;
}

#pricing h2 {
  font-weight: bold;
  font-size: 3rem;
  padding-top: 3rem;
}

#pricing p {
  color: gray;
}

.card .btn {
  margin: 0 25px !;
}

.card-header {
  background-color: #f9ad8d !important;
}

.card-photo {
  width: 100px;
}

.card-wrapper {
  margin-top: 3rem !important;
}

#cta {
  background-color: #ff4c68;
}

#cta h3 {
  font-size: 3.5rem;
  font-weight: bold;

  color: white;
  font-family: 'montserrat-black';
  margin-top: 10rem;
}

#cta .btn {
  margin-bottom: 10rem !important;
}

#press {
  background-color: #ef8172;
  text-align: center !important;
  padding-bottom: 3% !important;
}
.media {
  width: 15% !important;
  margin: 20px 20px 30px !important;
}
